<!--
  Generated template for the CommandListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Liste des Commandes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list (change)="updateCounter()">
        <ion-item-sliding *ngFor="let item of currentItems">
          <button ion-item (click)="openItem(item)">
           <!-- <ion-avatar item-start>
              <img [src]="item.image" alt="image"/>
            </ion-avatar>-->
            
            <h2>Commande {{item.dishName}}</h2>
            <ion-note> <p>Quantite: {{item.quantite}} Total: {{item.total}}</p>  
              <p *ngIf="item.status">En cours de traitement</p>
              <p *ngIf="!item.status">Pas encore traite</p> 
            </ion-note>

          </button>
          <ion-item-options >
            <button ion-button color="danger" (click)="deleteItem(item)">
              Supprimer
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
