<ion-header>

  <ion-navbar>
    <ion-title>New Dish/Edit Dish</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <!--<span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>-->
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <!--<span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>-->
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
        <ion-icon name="add"></ion-icon>
        <div>
          LOGO DU PLAT <!--{{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}-->
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label fixed>Type</ion-label>
        <ion-input type="text" placeholder="Burger, Chicken" formControlName="type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Nom</ion-label>
        <ion-input type="text" placeholder="Burger King Family" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Prix</ion-label>
        <ion-input type="text" placeholder="60 dhs" formControlName="prix"></ion-input>
      </ion-item>

      <div padding>
        <input type="submit" value="Save Dish" ion-button color="primary" block/>
      </div>

    </ion-list>
  </form>
</ion-content>